body{
    color: white;
    background-color: black;
}

#layout{
    display:grid;
    grid-template-areas:'layout_title'
                        'layout_recommender';
}

#page_title{
    text-align: center;
    position: relative;
    display: block;
    margin: 5%;
    font-size: xxx-large;
    font-family: system-ui;
}

button:hover{
    background-color: #D2691E;
}

#basic_rec, #artists_rec, #basic_form{
    display: none;
}

button{
    background-color: green;
    padding: 1%;
    margin: 3%;
    display: block;
    margin-left: 21%;
    margin-right: 21%;
    font-family: system-ui;
    border-radius: 25px;
}
