body{
    height: 100%;
    color: white;
    background-image: url(../images/background.jpg);
}

#layout{
    display:grid;
    grid-template-areas:'layout_title'
                        'layout_recommender';
}

#page_title{
    text-align: center;
    position: relative;
    display: block;
    margin: 5%;
    font-size: xxx-large;
    font-family: system-ui;
}

.form {
    text-align: center;
    position: relative;
    display: block;
}

button.options:hover{
    background-color: #14964a;
}

#basic_rec, #artists_rec, #basic_form{
    display: none;
}

button.options {
    background-color: #1ed269;
    padding: 1.5%;
    margin: 1%;
    display: block;
    margin-left: 21%;
    margin-right: 21%;
    font-family: system-ui;
    border-radius: 8px;
}

button.submit {
    background-color: white;
    padding: 0.5%;
    margin: 0 auto;
    display: block;
    font-family: system-ui;
    border-radius: 8px;
}

input {
    margin: 0.5%;
 }